flask==3.0.0
ultralytics==8.4.33
opencv-python-headless==4.8.1.78
numpy==1.26.4
pillow==10.2.0
pyyaml==6.0.1
requests==2.31.0
psutil==5.9.8
tqdm==4.66.1
matplotlib==3.8.2
ultralytics-thop==2.0.18
torchvision==0.16.2
torch==2.1.2
